* {
    font-family: 'railway', 'Times New Roman', Times, serif;
    font-size: 18px;
    line-height: 150%;
}

div {
    color: aliceblue;
    padding: 25px;
    margin-left: -10px;
    margin-right: -10px;
    display: flex;
}

.header {
    box-sizing: border-box;
    margin-top: -10px;
    padding: 10px;
    padding-left: 25px;

    font-size: 18px;
    font-weight: 100;
    color: aliceblue;
    -webkit-text-stroke-width: .5px;
    -webkit-text-stroke-color:  aliceblue;
    background: midnightblue;
}

.hero {
    min-width: none;
    min-height: 400px;
    display: flex;
    flex-direction: column;
    background-color: black;
    color: aliceblue;
    align-items: center;
    justify-content: center;
}

.hero h1 {
    font-size: 64px;
    font-weight: 100;
    padding: 40px 0;
}

.hero h3 {
    display: flex;
    font-size: 28px;
    font-weight: 100;
    max-width: 750px;
    min-width: none;
    border-bottom: 1px solid silver;
    padding-bottom: 12px;
}

.hero p {
    margin-top: -15px;
    max-width: 500px;
    align-self: center;
    text-align: center;
}

.content {
    background: midnightblue;
    box-sizing: border-box;
    flex-direction: column;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.content .entry {
    flex: 1;
    background-color: black;
    box-shadow: 0 8px 8px 0px black;
    margin: 25px;
    padding: 10px 25px;
    display: flex;
    flex-direction: column;
    max-width: 650px;
}

.entry div {
    display: flex;
    justify-content: space-between;
    margin: -30px -25px;
}

.entry div a {
    text-decoration: none;
    font-size: 24px;
    color: aliceblue;
    padding: 15px 0;
}

.footer {
    background-color: black;
    color: aliceblue;
    margin-bottom: 10px;
    justify-content: center;
}

.content .entry div a:hover {
    border-bottom: 1px solid aliceblue;
    margin-bottom: -1px;
    color: silver;
}