div {
    color: aliceblue;
    padding: 25px;
    margin-left: -10px;
    margin-right: -10px;
    display: flex;
}

.header {
    border-bottom: 15px double aliceblue;
    color: black;
    box-sizing: border-box;
    margin-top: -10px;
    padding: 5px;
    padding-left: 25px;

    font-size: 36px;
    color: aliceblue;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color:  aliceblue;
    background: rgba(2, 2, 15, 0.8);   
}

.hero {
    min-width: none;
    min-height: 400px;
    display: flex;
    flex-direction: column;
    background-color: aliceblue;
    color: black;
    align-items: center;
    justify-content: center;
}

.content {
    background: hsla(244, 100%, 31%, 0.8);
    box-sizing: border-box;
    flex-direction: column;

}

.footer {
    background-color: rgba(2, 2, 15, 0.8);
    color: aliceblue;
    margin-bottom: 10px;
    border-top: 15px double aliceblue;
    justify-content: center;
}

h2 {
    border-top: 5px dotted aliceblue;
    padding-top: 10px;
}
